body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('img/puerto-montt-portada.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Que cubra todo el fondo */
    background-position: center; /* Centrar la imagen */
    color: #FFFFFF; /* Texto en blanco */
    min-height: 100vh; /* Asegurar que el cuerpo ocupe al menos la altura de la ventana */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinear al principio en lugar de al centro */
    padding-top: 100px; /* Para dejar espacio debajo del header */
    overflow-y: auto; /* Permitir desplazamiento vertical */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%; /* Ocupa la mitad de la pantalla */
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF; /* Fondo de la caja en blanco */
    border-radius: 12px; /* Borde redondeado */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Solo una sombra para dar profundidad */
    border: 2px solid #003366; /* Borde azul oscuro */
}

.main-content {
    background-color: transparent; /* Eliminar cualquier fondo extra */
    padding: 0;
    border-radius: 0;
    box-shadow: none; /* Eliminar sombra innecesaria */
    width: 100%;
    color: #003366; /* Asegurar el color del texto */
    
}

h2 {
    color: #FFCC00; /* Títulos en amarillo brillante */
    margin-bottom: 20px;
    text-align: center; /* Centrar el título */
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #003366; /* Etiquetas en azul oscuro */
}

input[type="date"],
select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 2px solid #003366; /* Borde azul oscuro */
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

input[type="date"]:focus,
select:focus {
    border-color: #FFCC00; /* Borde amarillo al enfocar */
    box-shadow: 0 0 8px rgba(255, 204, 0, 0.4); /* Sombra amarilla */
}

button {
    display: inline-block;
    background-color: #FFCC00; /* Fondo de botón en amarillo */
    color: #003366; /* Texto del botón en azul oscuro */
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    width: 100%;
}

button:hover {
    background-color: #e6b800; /* Color más oscuro al pasar sobre el botón */
}

@media (max-width: 768px) {
    .container {
        max-width: 100%; /* En pantallas pequeñas ocupa todo el ancho */
        padding: 15px;
    }

    .main-content {
        width: 100%;
    }

    form input, form select, form button {
        flex: 1 1 100%;
    }
}
