/* Estilo general */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('img/puerto-montt-portada.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: #003366;
    border: 2px solid #003366; /* Añadir borde */
}


/* Encabezados */
h2 {
    color: #FFCC00; /* Títulos en amarillo brillante */
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
}

h3 {
    color: #003366;
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* Estilo de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

th, td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #003366;
}

th {
    background-color: #FFCC00;
    color: #003366;
    text-transform: uppercase;
    font-size: 1em;
}

tr:hover {
    background-color: #f2f2f2;
}


/* Botones */
button, .button {
    background-color: #003366;
    color: #FFFFFF;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

button:hover, .button:hover {
    background-color: #001f4d;
}


.button {
    display: inline-block;
}

/* Estilo de los formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    border: 2px solid #003366;
    border-radius: 6px;
    background-color: #f9f9f9;
    color: #003366;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: #FFCC00;
    box-shadow: 0 0 8px rgba(255, 204, 0, 0.4); /* Sombra amarilla */
}



/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .user-info, .main-content {
        width: 100%;
    }

    form input, form select, form button {
        flex: 1 1 100%;
    }
}

